@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: white;
    background-color: blue;
    text-align: center;
}

main {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    column-width: 30%;
}

#title {
    max-width: 100%;
    text-align: center;
    color: black;
}

section{
    padding: 20px;
}

section img{
    border: 5px solid white;
    box-shadow: 3px 3px 2px 3px black;
    object-fit: cover;
}

nav {
    position: relative;
    margin: 0;
    color: white;
    background-color: blue;
    padding-bottom: 1rem;
}

#menu {
    visibility: visible;
}

nav a{
    visibility: hidden;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    max-width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: blue;
}

@media screen and (min-width: 700px){
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px){
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav a{
        visibility: visible;
    }

    #menu {
        visibility: hidden;
    }
}

