body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

#content {
    width: 30%;
    margin: 75px auto;
    border: 1px solid black;
    padding-left: 100px;
    padding-right: 100px;
}

hr{
    margin-bottom: 35px;
    opacity: .25    ;
}

h1, h2{
    text-align: center;
}

h1{
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 50px;
}

h2 {
    font-size: .7em;
    font-weight: bold;
    letter-spacing: 3px;
    color: #0f89da;
}

p, ol, li{
    font-weight: 450;
}

#logo-container{
    width: 200px;
    margin: 50px auto;
}

#logo-container{
    text-align: center;
}